<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Technology - Formulario HTML </title>
</head>
<body>
    <form action="/app_coder/formHTML" method="POST">{% csrf_token %}

        <p>Tecnología: <input type="text" name="name"></p>
        <p>Modelo: <input type="text" name="model"></p>

        <input type="submit" value="Crear equipo">

    </form>
</body>
</html>