{% extends "app_coder/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Buscador de equipos</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="text_search" id="technology_name" placeholder="Busqueda por nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="model_search" id="technology_model" placeholder="Busqueda por modelo">
        <input type="submit" value="Buscar por modelo">
    </div>
    <div>
        <input type="text" name="all_search" id="technology_model_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if technologies %}
    <ul>
        {% for technology in technologies %}
            <li>
                Curso: {{technology.name}}
                -- Código: {{technology.model}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}