{% extends "app_coder/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Buscador de productos</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="text_search" id="product_name" placeholder="Busqueda por nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="code_search" id="product_code" placeholder="Busqueda por código">
        <input type="submit" value="Buscar por código">
    </div>
    <div>
        <input type="text" name="all_search" id="technology_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if products %}
    <ul>
        {% for product in products %}
            <li>
                Producto: {{product.name}} -
                {{product.code}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}